Q1. What is a database? Differentiate between SQL and NoSQL databases.

* Database:
A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval and management of that data. It is a fundamental component of most software applications, serving as a centralized repository where information can be stored, retrieved, and manipulated. Databases provide a mechanism for data integrity, security, and scalability.

* SQL (Structured Query Language) Databases:
SQL databases are relational databases that use a structured query language (SQL) to define and manipulate the data. They are based on the relational model, where data is organized into tables with rows and columns. Key characteristics of SQL databases include:

1. Structured Schema: Data is organized in tables with a predefined schema, meaning that the structure of the data is well-defined before any data is inserted.

2. ACID Properties: SQL databases adhere to the ACID properties (Atomicity, Consistency, Isolation, Durability), ensuring the reliability and consistency of transactions.

3. Scalability: SQL databases can scale vertically (by increasing server resources) or horizontally (by adding more servers) to handle increased loads.

4. Examples: MySQL, PostgreSQL, Oracle Database, Microsoft SQL Server.

* NoSQL Databases:
NoSQL databases, as the name suggests, do not rely on a fixed schema and are designed to handle unstructured or semi-structured data. They provide a more flexible data model and are often used in scenarios where high scalability and performance are crucial. Key characteristics of NoSQL databases include:

1. Flexible Schema: NoSQL databases can handle a variety of data types and structures, allowing for dynamic and evolving schemas.

2. BASE Properties: NoSQL databases follow the BASE model (Basically Available, Soft state, Eventually consistent), which prioritizes availability and fault tolerance over strict consistency.

3. Scalability: NoSQL databases are well-suited for horizontal scalability, making it easier to handle large amounts of data and traffic.

4. Types: NoSQL databases come in various types, including document-oriented, key-value stores, wide-column stores, and graph databases.

5. Examples: MongoDB (document-oriented), Cassandra (wide-column store), Redis (key-value store), Neo4j (graph database).

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

* DDL (Data Definition Language):
Data Definition Language (DDL) is a subset of SQL (Structured Query Language) used for defining and managing the structure of a relational database. DDL commands are responsible for defining and manipulating the database schema, which includes creating, modifying, and deleting database objects like tables, indexes, and constraints.

* Here are some common DDL commands:


2. DROP: Used to delete existing database objects, such as tables or indexes.
3. ALTER: Used to modify the structure of existing database objects, such as adding or removing columns from a table.
4. TRUNCATE: Used to remove all records from a table but retain the structure for further use.

1. CREATE: Used to create new database objects, such as tables, indexes, or views.

In [2]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (10061 No connection could be made because the target machine actively refused it)

In [1]:
CREATE TABLE Student_detail(
    Roll_no INT PRIMARY KEY ,
    Student_Name VARCHAR(50),
    Email_id VARCHAR(50),
    Phone_no INT
);

SyntaxError: invalid syntax (630762582.py, line 1)

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

* DML (Data Manipulation Language):
Data Manipulation Language (DML) is a subset of SQL (Structured Query Language) that deals with the manipulation of data stored in the database. DML commands are used to insert, update, and delete records in the database tables.

* Here are some common DML commands:

1. INSERT: Used to add new records (rows) to a table.
2. UPDATE: Used to modify existing records in a table.
3. DELETE: Used to remove records from a table.

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language):
Data Query Language (DQL) is a subset of SQL (Structured Query Language) that is used for querying and retrieving data from a database. The primary DQL command is SELECT, which allows you to specify the columns and conditions to retrieve data from one or more tables.

Q5. Explain Primary Key and Foreign Key.

Primary Key:
A primary key is a unique identifier for a record in a relational database table. It uniquely identifies each record in the table and ensures that there are no duplicate values in the primary key column. The primary key is used to enforce the entity integrity of the database, meaning that each record can be uniquely identified.

Key characteristics of a primary key:

Uniqueness: Each value in the primary key column must be unique within the table.

Not Null: The primary key column cannot contain null (missing or undefined) values.

Immutable: Ideally, the values of a primary key should not be changed once assigned to a record.

Single Column or Composite Key: A primary key can consist of one or more columns. In the case of multiple columns, it's called a composite key.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query generally follows a specific sequence. Here is the typical order of execution for the main clauses in a SELECT statement:

1. SELECT: Specifies the columns to be retrieved from the database.

2. FROM: Specifies the table or tables from which to retrieve the data.

3. WHERE: Filters the rows based on a specified condition.

4. GROUP BY: Groups the result set based on one or more columns.

5. HAVING: Filters the grouped rows based on a specified condition.

6. ORDER BY: Sorts the result set based on one or more columns.

7. LIMIT/OFFSET (Optional): Specifies the number of rows to retrieve and/or the starting point for the result set.