Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

C:\Users\POOJA\AppData\Local\Temp\ipykernel_15768\1142781942.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [17]:
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

* loc: This is primarily label-based indexing. It is used when you want to access a group of rows and columns by labels or a boolean array. The loc indexer is used with the actual labels of the rows and columns.

Example:

In [20]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [19]:
df.loc[:,'course_name']

0        Data Science
1    Machine Learning
2            Big Data
3       Data Engineer
Name: course_name, dtype: object

* iloc: This is integer-location based indexing. It is used when you want to access a group of rows and columns by integer position. The iloc indexer is used with the integer positions of the rows and columns.

Example:

In [21]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [25]:
df.iloc[:,0]

0        Data Science
1    Machine Learning
2            Big Data
3       Data Engineer
Name: course_name, dtype: object

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.

In [27]:
reindex = [3,0,1,2]
new_df = df.reindex(reindex)

op_loc = new_df.loc[2]
op_iloc = new_df.iloc[2]

print("Output for new_df.loc[2]: \n",op_loc)
print("Output for new_df.iloc[2]: \n",op_iloc)

Output for new_df.loc[2]:
 course_name    Big Data
duration              6
Name: 2, dtype: object
Output for new_df.iloc[2]:
 course_name    Machine Learning
duration                      3
Name: 1, dtype: object

* new_df.loc[2]: This will use the label-based indexing. Since the DataFrame has been reindexed, the label '2' corresponds to the index '1' in the original DataFrame. So, it will print the row with index '1' in the new DataFrame.

* new_df.iloc[2]: This will use integer-based indexing. It directly refers to the position '2' in the new DataFrame, as it is based on the reindexing. So, it will print the row at position '2' in the new DataFrame.


Therefore, there will be a difference in the outputs of new_df.loc[2] and new_df.iloc[2] due to the reindexing. The former refers to the label '2' (which is actually index '1' in the original DataFrame), while the latter refers to the position '2' in the new DataFrame.

Consider the below code to answer further questions:

In [1]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

C:\Users\POOJA\AppData\Local\Temp\ipykernel_2084\3242837008.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.585879  0.872457  0.285602  0.006798  0.025899  0.312464
2  0.195322  0.992715  0.559252  0.741679  0.438568  0.025284
3  0.000965  0.319204  0.447413  0.450964  0.574917  0.280434
4  0.447196  0.744901  0.512918  0.138817  0.416209  0.993914
5  0.837354  0.725239  0.550376  0.203943  0.209436  0.680593
6  0.332158  0.036518  0.738555  0.533157  0.069253  0.413457

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [4]:
df1.mean()

column_1    0.399813
column_2    0.615172
column_3    0.515686
column_4    0.345893
column_5    0.289047
column_6    0.451024
dtype: float64

In [5]:
df1['column_2'].std()

0.3633500906844073

In [6]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.585879  0.872457  0.285602  0.006798  0.025899  0.312464
2  0.195322  0.992715  0.559252  0.741679  0.438568  0.025284
3  0.000965  0.319204  0.447413  0.450964  0.574917  0.280434
4  0.447196  0.744901  0.512918  0.138817  0.416209  0.993914
5  0.837354  0.725239  0.550376  0.203943  0.209436  0.680593
6  0.332158  0.036518  0.738555  0.533157  0.069253  0.413457

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [7]:
df1.loc[2,'column_2'] = "My String"

C:\Users\POOJA\AppData\Local\Temp\ipykernel_2084\1095226500.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'My String' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[2,'column_2'] = "My String"

In [10]:
mean_col2 = df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Replace 'My String' with the actual string you want to use. However, keep in mind that this may result in an error if you try to calculate the mean of a column containing both numeric and non-numeric data. Pandas will attempt to infer the data type, and if it encounters a mix of numeric and non-numeric values, it might raise a TypeError.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

* In pandas, window functions are used for performing calculations on a specific subset of data called a "window" that moves or "slides" through the dataset. These functions are particularly useful for time series data or any ordered data where you want to compute aggregate measures over a rolling or expanding window.

* The primary types of window functions in pandas include:

1. Rolling Functions:

rolling(): This function is used to provide rolling view of a specified window size over a given series or DataFrame.
Examples of rolling functions include rolling.mean(), rolling.sum(), rolling.std(), etc. These functions calculate the mean, sum, standard deviation, etc., over a specified window.

2. Expanding Functions:

expanding(): This function provides expanding view of a specified window that includes all the data points up to the current point in time.
Examples of expanding functions include expanding.mean(), expanding.sum(), expanding.std(), etc. These functions calculate the mean, sum, standard deviation, etc., for all data points up to the current point.

3. Exponential Moving Average (EMA):

ewm(): This function is used for exponentially weighted moving averages.
Examples include ewm.mean(), ewm.sum(), ewm.std(), etc. These functions calculate exponentially weighted statistics over a specified window.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [13]:
current_dt = pd.Timestamp.now()
current_mon = current_dt.month
current_year = current_dt.year

In [15]:
print("Current Date time:",current_dt)
print("Current Month:",current_mon)
print("Current Year:",current_year)

Current Date time: 2024-02-03 00:28:03.441346
Current Month: 2
Current Year: 2024

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [19]:
def times_diff(d1,d2):
    d1 = pd.to_datetime(d1)
    d2 = pd.to_datetime(d2)

    time_diff = d2 - d1
    d = time_diff.days
    h , r = divmod(time_diff.seconds , 3600)
    m ,  _ = divmod(r , 60)

    return d,h,m

In [20]:
d1_input = input('Enter the first date (YYYY-MM-DD):')
d2_input = input('Enter the second date (YYYY-MM-DD):')
dd ,hd ,md = times_diff(d1_input,d2_input)
print("Days:",dd)
print("Hours:",hd)
print("Minutes:",md)

Days: -7858
Hours: 0
Minutes: 0